.lang_en{
    display: none;
}

.lang_en.sml{
    font-size: smaller;
}

.add i{
	margin: 20px 20px;	
	color: green;
}
.add b{
	color: black;
}
.data_table{
	overflow: auto;
	margin-top: 5px;
	max-height: 400px;
}
.table{
	width: 100%;
	max-width: 100%;
}

#bookPageExcell a{
	text-decoration: none;
	padding: 7px 20px;
	color: #ffffff;
	background-color:#337ab7;
	border-radius: 5px;
 }


#Excell img{
	width:15px;
	height: 15px;
	margin:5px 5px 10px 5px;
}

#Excell a{
	text-decoration: none;
	padding: 7px 20px;
	color: #ffffff;
	background-color:#337ab7;
	border-radius: 5px;
}

/* .toast {
	display: none;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 18rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #4A4A4B;
	border-radius: 1rem;
	color: #f0f0f0;
	font-size: 2.5rem;
}
.load {
	display: inline-block;
	margin-bottom: 1.5rem;
	height: 4rem;
	width: 4rem;
	border: 0.4rem solid transparent;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color: white;
	animation: circle 1s infinite linear;
	-webkit-animation: circle 1s infinite linear; /* Safari 和 Chrome */
	border-radius: 50%
} */
   




