{% load static %}
<!-- <div class="content-wrapper"style="margin-left: 20px;"> -->
	<input id="examieedExamPaperID" value="{{ExamPaperID}}" style="display: none;"/>
	<div class="manage_data_container">
		<div id="toolbar_examieed">
		</div>
		<table
		  id="examieed_table"
		  data-toolbar="#toolbar_examieed"
		  data-search="true"
		  data-show-toggle="true"
		  data-show-fullscreen="true"
		  data-click-to-select="true"
		  data-show-pagination-switch="true"
		  data-pagination="true"
		  data-id-field="id"
		  data-page-list="[10, 25, 50, 100, all]">
		</table>
	</div>
<!-- </div> -->
