{% block nav_content%}
<div class="need_to_know_container" id="need_to_know">
	<div class="card">
		<div class="card-header">
			<h4 class="card_title"><strong>考生需知</strong></h4>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>考核中全部题型均为单选,请选择一个你认为正确的答案;</p>
					<p>每一题答题时间为5秒,请掌握好答题时间，超过5秒将自动跳到下一道題，若本題未作答將不得分;</p>
					<p>每一题2分，共50题。</p>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- ./card-body -->
		<!-- <div class="card-footer">
			<div class="row">
				<div class="col-sm-3 col-6">
					<div class="description-block border-right">
						<span class="description-percentage text-warning">1</span>
						<h5 class="description-header">2</h5>
						<span class="description-text">3</span>
					</div>
					/.description-block
				</div>
				/.col
				<div class="col-sm-3 col-6">
					<div class="description-block border-right">
						<span class="description-percentage text-success">1</span>
						<h5 class="description-header">2</h5>
						<span class="description-text">3</span>
					</div>
					/.description-block
				</div>
				/.col
			</div>
			/.row
		</div> -->
		<!-- /.card-footer -->
	</div>
	<!-- /.card -->
</div>
{% endblock%}