{% load static %}
<!-- <div class="content-wrapper"style="margin-left: 20px;"> -->
	<div class="manage_data_container">
		<div id="toolbar_personal">
		</div>
		<table
		  id="personal_table"
		  data-toolbar="#toolbar_personal"
		  data-search="true"
		  data-show-toggle="true"
		  data-show-fullscreen="true"
		  data-click-to-select="true"
		  data-show-pagination-switch="true"
		  data-pagination="true"
		  data-id-field="id"
		  data-page-list="[10, 25, 50, 100, all]">
		</table>
	</div>
    <div class="modal" id="modify_personal_data" tabindex="-1" role="dialog" aria-labelledby="modifyDataLable" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 600px;">
				<div class="modal-header">
					<h3>
						<span data-locale="all_modify">修改用户信息</span>
						<span class="lang_en sml">Edit User Info</span>
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body" style="padding:20px 40px 20px 40px;">
					<form class="form-horizontal" role="form" autocomplete="off" id="flow_master_form">
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<span data-locale="all_userID">用户工号</span>
								<span class="lang_en sml">User ID</span>
							</label>
							<div class="col-sm-8">
								<input type="text" readonly="true" id="modifyPersonalID" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<span data-locale="all_userName">用户姓名</span>
								<span class="lang_en sml">User Name</span>
							</label>
							<div class="col-sm-8">
								<input type="text" readonly="true" id="modifyPersonalName" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<span data-locale="all_password">密码</span>
								<span class="lang_en sml">Password</span>
							</label>
							<div class="col-sm-8">
								<input type="text" id="modifyPersonalPassword" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<span data-locale="all_department">部门</span>
								<span class="lang_en sml">Department</span>
							</label>
							<div class="col-sm-8">
								<input type="text" id="modifyPersonalDepartment" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">
								<span data-locale="all_lang">语言</span>
								<span class="lang_en sml">Language</span>
							</label>
							<div class="col-sm-8">
								<select id="modifyPersonalLanguage" class="form-control">
									<option value="Chinese">中文</option>
									<option value="English">English</option>
									<option value="Vietnamese">tiếng việt</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-primary " onclick="modify_user()" data-locale="all_OK">确定</button>
						    <button type="cancel" class="btn btn-primary " data-dismiss="modal" data-locale="all_close">关闭</button>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->
