{% load static %}
<div class="pre_exam_container">
	<table id="my_exam_table" data-search="true" data-show-toggle="true"
		data-show-fullscreen="true" data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
		data-page-list="[10, 25, 50, 100, all]">
	</table>
	<!-- <div class="table-responsive">
		<table id="paper_table" class="table table-hover">
			<thead>
				<tr>
					<th>试卷名称</th>
					<th class="exam_title">ExamineeID</th>
					<th>考核内容所属教材</th>
					<th class="exam_title">教材ID</th>
					<th>考核题目数量</th>
					<th class="exam_title">考核通过题目数量</th>
					<th>每题停留时间</th>
					<th >考核总时间</th>
					<th>考核截止日期</th>
					<th>最大考核次数</th>
					<th>已考核次数</th>
					<th>是否通过考核</th>
				</tr>
			</thead>
			<tbody>
				<tr><td colspan="12" style="text-align: center;font-weight: 700;">暂无考核信息</td></tr>
			</tbody>
		</table>
	</div> -->
</div>