{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<link rel="stylesheet" type="text/css" href="{% static 'common/css/self/login_atqs.css'%}">
	<link rel="stylesheet" href="{% static 'common/css/tempusdominus-bootstrap-4.min.css'%}">
	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css'%}">
	<title>Intelligent Training Quiz System</title>
	<script src="{% static 'common/js/jquery.min.js'%}"></script>
	<script src="{% static 'common/js/jquery-ui.min.js'%}"></script>
	<script src="{% static 'common/js/daterangepicker.js'%}"></script>
	<script src="{% static 'common/js/jquery.overlayScrollbars.min.js'%}"></script>
	<script src="{% static 'common/js/adminlte.js'%}"></script>
	<script src="{% static 'jquery/jquery.i18n.properties.js'%}"></script>
	<script src="{% static 'common/js/slef/language_extensions.js'%}"></script>
</head>

<body background="{% static 'common/img/bg1.jpg' %}"
	style="background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed;">
	<script type="text/javascript">
		var all_register_site;
		var all_register_plant;
		document.onkeydown = cdk;
		$(function(){
			get_super_user_site_plant();
		})

		function cdk() {
			if (event.keyCode == 13) {
				add_new_user();
			}
		}
		// 获取所有的site和厂别
		function get_super_user_site_plant() {
			all_register_site = [];
			$.ajax({
				url: "/website/get_super_all_site_plant",
				type: 'GET',
				dataType: 'json',
				async: false,
				success: function (res) {
					var sitesel_container = $('#Site_login');
					var site_html;
					sitesel_container.empty();
					if (res.siteList != "") {
						// console.log('获取所有厂别信息请求成功：', res.siteList);  //DEBUG
						// 存储所有site_plant列表
						all_register_plant = res.siteList;
						res.siteList.forEach(element => {
							// 存储所有site列表
							all_register_site.push(element.Site);
						});
						all_register_site = new Set(all_register_site);
						all_register_site.forEach(element => {
							// 形成Site下拉菜单
							site_html += "<option value =\"" + element + "\">" + element + "</option>";
						});
					}
					sitesel_container.append(site_html);
				}
			});
			changRegisterSite($('#Site_login').val());
		}

		// 选择厂别后，改变厂别列表
		function changRegisterSite(val) {
			var plantsel_container = $('#Plant_login');
			var plant_html;
			plantsel_container.empty();
			all_register_plant.forEach(item => {
				if (val === item['Site']) {
					plant_html += "<option value =\"" + item['ShortName'] + "\">" + item['ShortName'] + "</option>"
				}
			});
			plantsel_container.append(plant_html);
		}

		function add_new_user() {
			var StaffID = $("input[id='StaffID_login']").val()
			var StaffName = $("input[id='StaffName_login']").val()
			var Password = $("input[id='Password_login']").val()
			var Department = $("input[id='Department_login']").val()
			var Language = $("#Language_login").val()
			var site = $("#Site_login").val()
			var plant = $("#Plant_login").val()
			// console.log(Language);
			if (plant == "" || site == "" || StaffID == "" || Password == "" || StaffName == "" || Department == "" || Language == "") {
				alert("不允许存在空项!" + "\n" + "Null entries are not allowed!")
				return
			}
			var data = {
				StaffID: StaffID,
				StaffName: StaffName,
				Password: Password,
				Department: Department,
				Language: Language,
				newSite: site,
				newPlant: plant
			}
			$.ajax({
				type: "POST",
				url: "add_new_user",
				data: data,
				async: true,
				dataType: "json",
				success: function (data) {
					if (data.result == "true") {
						alert("注册成功!" + "\n" + "Registered successfully!")
						$("#Site_login").val("");
						$("#Plant_login").val("");
						$("#StaffID_login").val("");
						$("#StaffName_login").val("");
						$("#Password_login").val("");
						$("#Department_login").val("");
					}
					else {
						alert("该工号已经存在，不可重复注册" + "\n" + "This User ID already exists, cannot repeat the registration")
					}
				}
			})
		}
	</script>
	<div class="header">
		<img src="{% static 'common/img/wistron_logo.png' %}" alt="Smiley face" width="112" height="26">
		<span style="font-size: 21px; margin-left: 30px; font-weight:bold;">Intelligent Training Quiz System</span>
	</div>
	<div id="loginDiv" class="registerDiv">
		<table style="align-items: auto;margin: auto;">
			<tr>
				<th colspan="2">
					<h1 style="text-align: center;color: aliceblue;color: #000000;"
						data-locale="register_registerTitle">注册</h1>
				</th>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="register_site" style="display: inline-block;">Site</p><span
						class="lang_en sml">Site</span>
				</td>
				<td style="text-align: center;">
					<select id="Site_login" style="width: 160px;" onchange="changRegisterSite(this.value)">

					</select>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="register_plant" style="display: inline-block;">厂别</p><span
						class="lang_en sml">Plant</span>
				</td>
				<td style="text-align: center;">
					<select id="Plant_login" style="width: 160px;">

					</select>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="all_id" style="display: inline-block;">工号</p><span class="lang_en sml">Staff
						ID</span>
				</td>
				<td style="text-align: center;"><input type="text" id="StaffID_login" placeholder="账号"
						data-placeholder="all_idPh"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="register_namePh" style="display: inline-block;">姓名</p><span
						class="lang_en sml">Name</span>
				</td>
				<td style="text-align: center;"><input type="text" placeholder="姓名" data-placeholder="register_namePh"
						id="StaffName_login"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="all_pwd" style="display: inline-block;">密码</p><span
						class="lang_en sml">Password</span>
				</td>
				<td style="text-align: center;"><input type="password" placeholder="密码" data-placeholder="all_pwdPh"
						id="Password_login"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="register_departmentPh" style="display: inline-block;">部门</p><span
						class="lang_en sml">Department</span>
				</td>
				<td style="text-align: center;"><input type="text" placeholder="部门"
						data-placeholder="register_departmentPh" id="Department_login"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<p data-locale="register_lang" style="display: inline-block;">语言</p><span
						class="lang_en sml">Language</span>
				</td>
				<td style="text-align: center;">
					<!-- <input type="text" placeholder="语言" disabled="disable" id="Language_login"> -->
					<select id="Language_login" style="width: 160px;">
						<option value="Chinese">中文</option>
						<option value="English">English</option>
						<option value="Vietnamese">tiếng việt</option>
					</select>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<a href="/">
						<button class="btn btn-info"
							style="margin:10px;min-width:100px;border-radius: 10px;min-height: 33px;"><span
								data-locale="register_login">前往登录</span><span class="lang_en sml">(To
								Login)</span></button>
					</a>
				</td>
				<td style="text-align:center;">
					<button class="btn btn-info" style="margin:10px;min-width:100px;border-radius: 10px;height: 33px;"
						onclick="add_new_user()"><span data-locale="register_register">注册</span><span
							class="lang_en sml">(Register)</span></button>
				</td>
				<td style="text-align:center;">
					<select name="" style="min-width: 123px;" id="lang">
						<option value="zh">中文</option>
						<option value="en">English</option>
						<option value="vi">Tiếng Việt</option>
						<option value="bo" data-locale="zh_en">中英对照</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>