{% block nav_content %}
<div class="skill_ipm_container">
	<div class="tips">
		<h4>
			你有<span>1</span>个考核待完成! 请在考核期限内完成考核
		</h4>
		<a href="pre_exam.html">马上考核</a>
	</div>
	<div class="option">
		<div class="row">
			<div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-info">
					<div class="inner">
						<h3>技能考核</h3>
						<p>GO TO THE EXAM</p>
					</div>
					<a href="pre_exam.html" class="small-box-footer">Go right now</a>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-success">
					<div class="inner">
						<h3>考生需知</h3>

						<p>WHAT YOU NEED TO KNOW</p>
					</div>
					<a href="need_to_know.html" class="small-box-footer">More info</a>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-warning">
					<div class="inner">
						<h3>考核记录</h3>
						<p>THE EXAM RECORDS</p>
					</div>
					<a href="exam_records.html" class="small-box-footer">More info</a>
				</div>
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
	</div>
</div>
