{% load static %}
<div class="train_skill_category_container" id="train_skill_category">
	<div class="card">
		<div class="card-header">
			<h4 class="card_title">
				<strong>
					<span data-locale="train_skill_category_skillTrain">技能培训</span>
					<span class="lang_en sml">Skill Training</span>
				</strong>
			</h4>
		</div>
		<div class="train_skill_div">
			<table class="hovertable" id="train_skill_tab">
				<tr>
					<td data-locale="train_skill_category_noSkillType">暂无任何技能类型可进行培训</td>
				</tr>
				<tr>
					<td class="lang_en sml">There are no skill types for training.</td>
				</tr> 			
			</table>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="train_skill_type">
				<!-- <div class="form-group">
						<input type="radio" name="skill_type" id="SPI" checked>
						<label for="SPI">SPI</label>
					</div> -->
				<!-- <div class="skill_btn">
					<button type="button" class="btn btn-primary " onclick="skill_type_confirm()">确定</button>
				</div> -->
			</div>
		</div>
		<!-- ./card-body -->
	</div>
	<!-- /.card -->
</div>