{% load static %}
<div class="train_book_container">
	<div class="tips">
		<img src="{% static 'common/img/tips.png'%}"/>
		<h4 data-locale="train_book_tips">点击选择下面教材即可进入培训！</h4>
		<h4 class="lang_en sml">Click on any of the following teaching materials to enter the training!</h4>
		<input id="trainBookTrainingBankID" value="{{training_bank_id}}" style="display: none;"/>
	</div>
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>
						<span data-locale="train_book_book">教材名称</span>
						<span class="lang_en sml">Teaching Materials</span>
					</th>
					<th>
						<span data-locale="train_book_minTime">教材最短阅读时间/秒</span>
						<span class="lang_en sml">Minimum Duration/seconds</span>
					</th>
					<th>
						<span data-locale="train_book_skillType">技能类型</span>
						<span class="lang_en sml">Skill Type</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="none_book">
					<td colspan="3" style="text-align: center;font-weight: 700;">很抱歉，该技能类型暂时没有培训教材，请下次再来吧！</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>